body {
    background-color: #F2F2F2;
}

.wlt-main,
.wlt-form {
    border: 1px solid #AAA;
    border-bottom: 1px solid #888;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 2px #AAA;
    border-radius: 3px;
}

.wlt-main {
    position: relative;
}

.wlt-form {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    display: none;
}

.wlt-form-button {
    font-size: 4em;
}

.wlt-choice h1 {
    color: #FFF;
}

.wlt-search input[type="text"] {
    font-size: 30px;
    padding: 30px 10px;
}

.wlt-footer {
    background: #333;
    padding: 10px 0 10px;
    color: #FFF;
}

.wlt-footer ul.wlt-links li {
    display: block;
    float: left;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.77778rem;
}
