<template name="footer">
    <article class="wlt-footer">
        <section class="row">
            <div class="columns">
                <ul class="wlt-links">
                    <li class="right">
                        <a href="https://github.com/l-lin/whatlunchtoday">
                            <i class="fa fa-github"></i>&nbsp;Github
                        </a>
                    </li>
                    <li><a href="{{pathFor 'about'}}" target="_blank">About</a></li>
                    <li>
                        <a data-tooltip class="tip-top" href="https://github.com/l-lin/whatlunchtoday/issues"
                           title="No way! This application is perfect!">
                            <i class="fa fa-bug"></i>&nbsp;Report a bug
                        </a>
                    </li>
                    <li>
                        Designed and built with <i class="fa fa-heart"></i> by <a href="https://github.com/l-lin">Louis LIN</a>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</template>
