.wlt-home .alert-box h3
  color #305d8c

.wlt-home-choice
  text-transform: uppercase;

.wlt-choice h1
  color #FFF

.wlt-resto-search input[type="text"]
  font-size 30px
  padding 20px 10px
  height 100%

.wlt-home-user-list
  text-align left
  color #aaa

.wlt-home-user-list div.column:first-child
  border-bottom 1px solid #ccc
  margin-bottom 15px

.wlt-current-user
  color #d3413b

.wlt-resto-create
  width 100%
  font-size 27px

.wlt-resto-form.row
  border-top 1px solid #ccc
  border-bottom 1px solid #ccc
  padding-top 15px
  margin-bottom 15px
  display none

.wlt-resto-form.row.wlt-show
  display block