.wlt-home
  text-align center

.wlt-home .alert-box.success h3
  color #3c763d

.wlt-home-choice
  text-align center
  text-transform: uppercase;

.wlt-choice h1
  color #FFF

.wlt-resto-search input[type="text"]
  font-size 30px
  padding 20px 10px
  height 100%

.wlt-score
  position absolute
  top 0
  left 0
  border 2px solid #d0d0d0
  padding 2px 5px
  background-color #fff
  text-shadow 1px 1px #ccc
  color #6886e7
  border-bottom-right-radius: 10px;

.wlt-home-user-list
  text-align left
  color #aaa

.wlt-home-user-list div.column:first-child
  border-bottom 1px solid #ccc
  margin-bottom 15px

.wlt-current-user
  color #d3413b

.wlt-resto-create
  width 100%
  font-size 27px

.wlt-resto-form.row
  border-top 1px solid #ccc
  border-bottom 1px solid #ccc
  padding-top 15px
  margin-bottom 15px
  display none

.wlt-resto-form.row.wlt-show
  display block