<template name="home">
    {{#if show }}
    <article class="wlt-home">
        <div class="alert-box">
            <div class="row">
                <div id="wlt-group" class="wlt-home-choice small-10 columns">
                    <h3>{{ currentGroup.name }}</h3>
                </div>
                <div id="wlt-nb-votes" class="small-2 columns right">
                    <h3>{{ nbVotesLeft }}&nbsp;<i data-tooltip class="tip-top fa fa-flag" title="vote(s)"></i>&nbsp;left</h3>
                </div>
            </div>
        </div>
        <section class="row wlt-home-content">
            <section class="large-2 columns wlt-home-user-list hide-for-small-only">
                <div class="column">
                    <h3><i class="fa fa-user"></i>&nbsp;Users</h3>
                </div>
                <div class="column">
                    <ul class="small-block-grid-1 wlt-home-user">
                        <li class="wlt-current-user"><i class="fa fa-chevron-right"></i>&nbsp;{{ currentUser.name }}</li>
                        {{#each userList }}
                        <li>{{ name }}</li>
                        {{/each}}
                    </ul>
                </div>
            </section>
            <section class="large-10 columns wlt-content">
                <header class="row">
                    <div class="wlt-resto-search large-10 columns">
                        <input type="text" name="search" placeholder="Search" />
                    </div>
                    <div class="large-2 columns">
                        <button data-tooltip class="tip-top button wlt-resto-create" title="Add a restaurant"><i class="fa fa-plus-square"></i></button>
                    </div>
                </header>
                <article class="row wlt-resto-form">
                    <form name="restoForm">
                        <section class="small-9 columns">
                            <input type="text" placeholder="Resto name" value="" />
                            <input type="hidden" name="formType" value="" />
                            <input type="hidden" name="prevValue" value="" />
                        </section>
                        <section class="small-3 columns">
                            <button type="reset" class="wlt-cancel right alert button">Cancel</button>
                            <button type="submit" class="right success button">Ok</button>
                        </section>
                    </form>
                </article>
                <article id="wlt-resto-list" class="columns wlt-resto-list">
                    <ul class="small-block-grid-2 large-block-grid-3">
                        {{#each restoList }}
                        <li class="wlt-resto large secondary button">
                            {{ name }}
                            {{> score resto }}
                            <a href="#" class="text-primary wlt-edit" data-name="{{ name }}"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="text-primary wlt-remove" data-name="{{ name }}"><i class="fa fa-trash-o"></i></a>
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </section>
        </section>
    </article>

    <ol class="joyride-list" data-joyride>
        <li data-id="wlt-resto-list" data-text="Next" data-options="tipLocation:top">
            <p>You can vote for the meal you want to eat for lunch.</p>
        </li>
        <li data-id="wlt-group" data-text="Next" data-options="tipLocation:bottom">
            <p>This is the group you want to eat with.</p>
        </li>
        <li data-id="wlt-nb-votes" data-button="Next" data-options="tipLocation:bottom">
            <p>You have 5 votes each day. You can vote to the same restaurant if you want to.</p>
        </li>
        <li data-id="wlt-quote" data-button="Next" data-options="tipLocation:bottom">
            <p>This Homer Simpson will kindly tell you where to eat today.</p>
        </li>
        <li data-id="wlt-change-group" data-button="Ok! I got it!">
            <p>You can always change group by clicking here.</p>
        </li>
    </ol>
    {{/if}}
</template>
