.wlt-group-list, .wlt-group-alert
  text-align center

.wlt-group-alert h3
  color #fff

.wlt-group-form
  display none

.wlt-group-form.wlt-show
  display block

.wlt-form-name
  font-style: normal;
