.wlt-group-list, .wlt-group-alert
  text-align center

.wlt-group-alert h3
  color #fff

.wlt-group-form
  display none

.wlt-group-form.wlt-show
  display block

.wlt-group-form.wlt-content
  border-radius 0
  box-shadow none

.wlt-group-name
  font-size 1.5em

.wlt-chosen-resto
  color #aaa

.wlt-user-search input[type="text"],
.wlt-user-search .prefix
  font-size 2em
  margin-bottom 0

/* -------------------
    Typeahead
   ------------------- */

.wlt-user-search .tt-dropdown-menu
  background-color #fff
  width 100%
  border 1px solid #ccc
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px
  padding-left 1em
  padding-top 1em
  font-size 0.8em
  opacity 0.8

.wlt-user-search .twitter-typeahead
  width 100%

.wlt-user-search .typeahead
  background-color #fff

.wlt-user-search .typeaheadfocus
  border 2px solid #0097cf

.wlt-user-search .tt-query
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -moz-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)

.wlt-user-search .tt-hint
  color #999

.wlt-user-search .tt-dropdown-menu
  padding 8px 0
  background-color #fff
  border 1px solid #ccc
  -webkit-box-shadow 0 5px 10px rgba(0, 0, 0, .2)
  -moz-box-shadow 0 5px 10px rgba(0, 0, 0, .2)
  box-shadow 0 5px 10px rgba(0, 0, 0, .2)

.wlt-user-search .tt-suggestion
  padding 3px 20px
  font-size 18px
  line-height 24px

.wlt-user-search .tt-suggestion.tt-cursor
  color #fff
  background-color #0097cf

.wlt-user-search .tt-suggestion p
  margin 0

