<template name="about">
    <article class="wlt-about">
        <section class="alert-box">
            <div class="row">
                'What Lunch Day' is a collaborative application that will choose your lunch for you and your
                friends/colleagues.
            </div>
        </section>
        <section class="row wlt-content">
            <div class="column">
                <p>
                    Got tired of waiting outside for 10 minutes because no one knows where to eat for lunch?
                    This application will do it for you!
                    <br />
                    You just have to choose a group you wish to eat with, then vote for the meal you want to eat!
                </p>
                <p>
                    You have 5 votes to choose the meal. You can put several votes in one restaurant if you wish.
                </p>
            </div>
        </section>
        <section class="row wlt-content">
            <div class="column">
                <h1>
                    This project is built with:
                </h1>
                <ul class="small-block-grid-2 large-block-grid-3">
                    <li class="">
                        <a href="http://www.meteor.com"><img class="wlt-small" src="images/meteorjs.jpg" /></a>
                    </li>
                    <li class="">
                        <a href="http://foundation.zurb.com/"><img src="images/foundation.jpg" /></a>
                    </li>
                    <li class="">
                        <a href="http://jquery.com/"><img src="images/jquery.png" /></a>
                    </li>
                    <li class="large button">
                        <a href="https://github.com/EventedMind/iron-router">Iron-router</a>
                    </li>
                    <li class="large button">
                        <a href="https://github.com/Multiply/iron-router-progress/">Iron-router-progress</a>
                    </li>
                    <li class="large button">
                        <a href="http://fortawesome.github.io/Font-Awesome/"><i class="fa fa-flag"></i>&nbsp;Font awesome</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="row wlt-content">
            <div class="column">
                <p>
                    You have a suggestion? A bug to report? Please submit to <a data-tooltip class="tip-top" title="Github" href="https://github.com/l-lin/whatlunchtoday/issues"><i class="fa fa-github-alt"></i></a>!
                </p>
            </div>
        </section>
    </article>
</template>
