body
  background-color #F2F2F2
  margin 0 0 100px
  position initial

html
  position relative
  min-height 100%

/* Override foundation, otherwise, there is a scrollbar */
@media only screen
  [class*="block-grid-"]
    margin: 0

.wlt-content
  border 1px solid #AAA
  border-bottom 1px solid #888
  padding 15px 15px 0 15px
  margin-bottom 15px
  background-color #FBFBFB
  box-shadow 2px 2px 2px #AAA
  border-radius 3px

a.wlt-edit,
a.wlt-remove
  color #333
  position absolute
  right 10px
  padding 5px 10px
  font-size small
  display none

li.button:hover a.wlt-edit,
li.button:hover a.wlt-remove
  display block

a.wlt-edit
  top 5px

a.wlt-edit:hover,
a.wlt-remove:hover
  color #fff
  border-radius 3px
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #aaa;

a.wlt-edit:hover
  background-color #2ba6cb

a.wlt-remove
  bottom 5px

a.wlt-remove:hover
  background-color #cc1d15

/* -------------------
    Progress bar
   ------------------- */

#iron-router-progress
  background-color #2c3e50
  box-shadow 0 0 5px #2c3e50

#iron-router-progress.spinner:before
  border-color #2c3e50